{% extends 'base.html.twig' %}

{% block title %}Painterest{% endblock %}

{% block body %}
<h1> {{pluralize(1,"pin","pins")}} </h1>
{% for pin in pins %}
<article>
<h2><a href="{{path('app_pin_show',{id: pin.id})}}">{{pin.titre}}</a></h2>
<p>{{pin.description}}</p>
</article
{% endfor %}

{% endblock %}
